---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos | Noah Heinrich" description="À propos de Noah Heinrich">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À Propos"
				tagline="Pour en savoir plus sur moi, mon parcours et mes compétences."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">À Propos de moi</h2>
				<div class="content">
					<p>
						Je m'appelle Noah Heinrich, j'ai 20 ans et je suis étudiant en BUT MMI (Métier du Multimédia et de l'Informatique) à l'IUT de Chambéry.
						Je suis passionné par le développement, la musique, les jeux vidéos et la lecture. 
						Je suis également très curieux et j'aime apprendre de nouvelles choses.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Parcours</h2>
				<div class="content">
					<p>Après le BAC j'ai fait une année en FAC de Maths-info à UGA à Grenoble sauf que cela ne m'a pas plu, j'ai donc décidé d'arreter après la première année pour me rediriger vers un BUT MMI (Métier du Multimédia et de l'Informatique) qui me plait beaucoup plus et dans lequel je suis beaucoup plus épanoui.</p>
					<p>Je suis maintenant en 2ème année de ce BUT et à la recherche d'un stage pour la fin de cette année.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<ul>
						<li> Travail en équipe </li>
						<li> Créativité </li>
						<li> Rigueur </li>
						<li> Prise d’initiative </li>
						<li> Autonomie </li>
						<li> Ecoute </li>
						<li>HTML</li>
						<li>CSS</li>
						<li>JavaScript</li>
						<li>PHP</li>
						<li>SQL</li>
						<li>Figma</li>
						<li>React</li>
						<li>GitHub</li>
						<li>Processing</li>
						<li>Unity</li>
						<li>Wordpress</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
